* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
}

aside {
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ddd, -2px -2px 5px #ddd;
  width: 350px;
  margin: 10px;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 20px;
}

.footer {
  border-top: 1px solid #aaa;
  margin: 50px 0px;
  padding: 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0px;
  background-color: white !important;
}

.inputTitulo {
  width: 350px;
}

input {
  margin: 5px;
  padding: 5px;
}

.inputArquivo {
  width: 350px;
  border: 1px solid #444
}

button {
  width: 200px;
  height: 40px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(138, 31, 170);
  color: white;
}

.imagem {
  width: 350px;
}

img {
  width: 100%;
  object-fit: contain;
}

.player {
  width: 100%;
}

.tituloArquivo {
  font-size: 20px;
  font-weight: 440;
}

.data {
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
}